@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 167.7 40% 91.5%;
  --foreground: 167.7 2% 5.8%;
  --card: 167.7 20% 91.5%;
  --card-foreground: 167.7 2% 10.8%;
  --popover: 167.7 40% 95.8%;
  --popover-foreground: 167.7 97% 1.5%;
  --primary: 167.7 34.9% 50.6%;
  --primary-foreground: 0, 0%, 0%;
  --secondary: 167.7 18% 73%;
  --secondary-foreground: 0 0% 0%;
  --muted: 205.7 18% 86.5%;
  --muted-foreground: 167.7 2% 35.8%;
  --accent: 205.7 18% 81.5%;
  --accent-foreground: 167.7 2% 10.8%;
  --destructive: 0 70% 33%;
  --destructive-foreground: 167.7 2% 91.5%;
  --border: 167.7 24% 54.8%;
  --input: 167.7 24% 22.8%;
  --ring: 167.7 88.7% 45.3%;
  --radius: 0.5rem;
  --sidebar-background: 168, 40%, 87%;
  --sidebar-foreground: 168, 2%, 5%;
  --sidebar-primary: 168, 35%, 46%;
  --sidebar-primary-foreground: 0 0% 0%;
  --sidebar-accent: 206, 18%, 77%;
  --sidebar-accent-foreground: 0 0% 0%;
  --sidebar-border: 168, 24%, 52%;
  --sidebar-ring: 158, 98%, 45%;
}

.dark {
  --background: 167.7 26% 5.8%;
  --foreground: 167.7 2% 91.5%;
  --card: 167.7 20% 1.5%;
  --card-foreground: 167.7 2% 91.5%;
  --popover: 167.7 26% 5%;
  --popover-foreground: 167.7 2% 91.5%;
  --primary: 167.7 34.9% 50.6%;
  --primary-foreground: 0, 0%, 0%;
  --secondary: 167.7 18% 11.5%;
  --secondary-foreground: 0 0% 100%;
  --muted: 205.7 18% 16.5%;
  --muted-foreground: 167.7 2% 60.8%;
  --accent: 205.7 18% 16.5%;
  --accent-foreground: 167.7 2% 90.8%;
  --destructive: 0 70% 33%;
  --destructive-foreground: 167.7 2% 91.5%;
  --border: 167.7 24% 22.8%;
  --input: 167.7 24% 22.8%;
  --ring: 167.7 88.7% 45.3%;
  --radius: 0.5rem;
  --sidebar-background: 168, 26%, 8%;
  --sidebar-foreground: 168, 2%, 100%;
  --sidebar-primary: 168, 35%, 40%;
  --sidebar-primary-foreground: 0, 0%, 0%;
  --sidebar-accent: 206, 18%, 14%;
  --sidebar-accent-foreground: 0 0% 100%;
  --sidebar-border: 168, 24%, 22%;
  --sidebar-ring: 158, 98%, 45%;
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
