@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 144.9 40% 91.5%;
  --foreground: 144.9 2% 5.8%;
  --card: 144.9 20% 91.5%;
  --card-foreground: 144.9 2% 10.8%;
  --popover: 144.9 40% 95.8%;
  --popover-foreground: 144.9 97% 1.5%;
  --primary: 144.9 81.5% 12.7%;
  --primary-foreground: 0 0% 100%;
  --secondary: 144.9 18% 73%;
  --secondary-foreground: 0 0% 0%;
  --muted: 182.9 18% 86.5%;
  --muted-foreground: 144.9 2% 35.8%;
  --accent: 182.9 18% 81.5%;
  --accent-foreground: 144.9 2% 10.8%;
  --destructive: 0 70% 33%;
  --destructive-foreground: 144.9 2% 91.5%;
  --border: 144.9 24% 54.8%;
  --input: 144.9 24% 22.8%;
  --ring: 144.9 88.7% 45.3%;
  --radius: 0.5rem;
  --sidebar-background: 145, 40%, 87%;
  --sidebar-foreground: 145, 2%, 5%;
  --sidebar-primary: 145, 82%, 11%;
  --sidebar-primary-foreground: 0, 0%, 100%;
  --sidebar-accent: 183, 18%, 77%;
  --sidebar-accent-foreground: 0 0% 0%;
  --sidebar-border: 145, 24%, 52%;
  --sidebar-ring: 135, 98%, 45%;
}

.dark {
  --background: 144.9 26% 5.8%;
  --foreground: 144.9 2% 91.5%;
  --card: 144.9 20% 1.5%;
  --card-foreground: 144.9 2% 91.5%;
  --popover: 144.9 26% 5%;
  --popover-foreground: 144.9 2% 91.5%;
  --primary: 144.9 81.5% 12.7%;
  --primary-foreground: 0 0% 100%;
  --secondary: 144.9 18% 11.5%;
  --secondary-foreground: 0 0% 100%;
  --muted: 182.9 18% 16.5%;
  --muted-foreground: 144.9 2% 60.8%;
  --accent: 182.9 18% 16.5%;
  --accent-foreground: 144.9 2% 90.8%;
  --destructive: 0 70% 33%;
  --destructive-foreground: 144.9 2% 91.5%;
  --border: 144.9 24% 22.8%;
  --input: 144.9 24% 22.8%;
  --ring: 144.9 88.7% 45.3%;
  --radius: 0.5rem;
  --sidebar-background: 145, 26%, 8%;
  --sidebar-foreground: 145, 2%, 100%;
  --sidebar-primary: 145, 82%, 10%;
  --sidebar-primary-foreground: 0 0% 100%;
  --sidebar-accent: 183, 18%, 14%;
  --sidebar-accent-foreground: 0 0% 100%;
  --sidebar-border: 145, 24%, 22%;
  --sidebar-ring: 135, 98%, 45%;
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
